html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Fira Sans', sans-serif;
}

.intro {
    padding: 30px;
    text-align: center;
}

.personal_photo {
    width: 20%;
    height: auto;
    /* border-radius: 50%; */
    border: 1px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

main.main_container {
    width: 100%;
    background-color: aliceblue;
    max-width: 960px;
    margin: 0 auto;
    padding-bottom: 30px;
}

main.main_container .row {
    min-height: 100px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
}

main.main_container .heading {
    background: linear-gradient(141.87deg, #000 0%, #004f83 100%);
    text-align: center;
    color: #fff;
    padding: 30px 20px 30px 30px; /* clockwise  */
    left: 0;
}

main.main_container .row > * {
    background-color: #fff;
    padding: 20px;
    flex: 1 1 300px;
    /* flex: grow shrink basis-what it wants to be */
}

.main_nav {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid #e5e5e5;
    background: linear-gradient(141.87deg, #000 0%, #004f83 100%);
    margin: 0;
}

.main_nav > * {
    flex: 0 1 100px;
}

